.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* nav part */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    height: 150px;

}

nav button {
    width: 132px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: #4E47FF;
    font-weight: bolder;
    font-size: 18px;
    border: 0;
    cursor: pointer;
}


nav h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: #4E47FF;
}

/* background img part */
.bgim {
    background-image: url(../Assets/Hero-bg.png);
    max-width: 1440px;
    height: 698px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 0 200px;
}

/* banner & button part */
.hbtn {
    width: 174px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: #4E47FF;
    font-weight: bolder;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    display: inline-block
}

.banner-container {
    text-align: center;
    margin-top: 100px;

}

.banner {
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    padding: 158px auto 200px;
}

/* action part */
.action-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    height: 328px;
    padding: 50px;
    margin: 0 auto;
}

.action {
    max-width: 517px;
    height: 203;
}

.action h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
}

.action p {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 30px;
}

.action button {
    width: 229px;
    height: 48px;
    border-radius: 10px;
    color: white;
    background-color: #4E47FF;
    font-weight: bolder;
    font-size: 18px;
    border: 0;
    cursor: pointer;
}

.img-section img {
    max-width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* Productive user part */
.stats-container {
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 80px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto 200px;

}

.stats-container h2 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 158px;
    flex-wrap: wrap;
}

.stat h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 160px;
    height: 97px;
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
}

.stat p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    margin-top: 10px;
}

/* review part  */

.review-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;

}

.reviews {
    padding: 24px;
    border-radius: 14px;
    box-shadow: 0 6px 50px 0 rgba(98, 98, 98, 0.15);

}

.reviewsstars {
    padding-bottom: 24px;
}

.reviews-container {
    max-width: 1140;
    display: flex;
    gap: 20px;

}

.rev p {
    padding-bottom: 24px;
}

.rev {
    max-width: 1140px;
    justify-content: space-around;
    margin: 50px auto;
}

/* newsletter part */







/* footer part */
.footer-container {
    max-width: 1640px;
    height: 428px;
    align-items: center;
    background-color: white;
    margin: auto;
}

.footer-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    font-weight: bolder;
    color: #4E47FF;
    padding: 104px 575px 8px 574px;
    text-align: center;
}

footer p {
    text-align: center;
    padding-bottom: 20px;
}

footer ul {
    display: flex;
    padding: 0 51px 100px 590px;

}

footer li {
    list-style: none;
    margin-right: 45px;

}

footer li a {
    text-decoration: none;
    color: #8987A1;
}

footer li:hover {
    background-color: #4E47FF;

}